{% extends 'base.html' %}

{% block content %}

<h1>hii</h1>

<form action="add">

    {% csrf_token %}

  Enter 1st no : <input type="number" name ="n1"><br>
  Enter 2nd no : <input type="number" name ="n2"><br>
  <input type="submit">
</form>

{% endblock %}